$dark_text: #000;
$green: #05ce7c;
$hoverGreen: lighten($green, 10%);
$gray_text: #989898;
$border_gr: #e8e8e8;
$yellow: #e9d601;
$red: #e50913;
$hover_red: rgba(255, 0, 0, 0.21);
$svg_gray: #cecdcd;
$blue: #0091ff;

