.main {
  @include flex(column, wrap, center, center);
  width: 100%;
  height: 100vh;
  background: #fff;
}

.btn {
  margin-top: 20px;
  width: 250px;
  height: 40px;
  color: #fff;
  background-color: pink;
}
.container {
  @include flex(column, nowrap, center, center);
  width: 100%;
}